<div class="mx-auto w-9/12">

  <app-navbar></app-navbar>

  <div separator></div>

  <h2 title2 class="text-10xl">Statistics</h2>
  <p class="w-5/12 mt-2">Here are displayed some of the most pertinent statistics of the dataset.</p>
  
  <div separator></div>
  <div separator></div>
  <div separator></div>

  <div class="flex flex-row">
    
    <!-- CHART 1 : Prices by rooms number -->
    <div class="w-3/5 bg-gray-100 bg-opacity-25 rounded-lg shadow-md p-4">
      <div class="p-10">
        <div><canvas id="chart-1" class="h-full w-full"></canvas></div>
        <div class="text-center mt-4">Rent and buy prices depending on the room number.</div>
      </div>
    </div>    

    <!-- CHART 2 : A pie chart of the distribution of housing types in Madrid -->
    <div class="w-2/5 bg-gray-100 bg-opacity-25 rounded-lg shadow-md p-4">
      <div class="p-10 h-full">
        <div><canvas id="chart-3" class="h-full w-full"></canvas></div>
        <div class="w-100 text-center">Distribution of housing types in Madrid</div>
      </div>
    </div>

  </div>

  <div separator></div>
  <div separator></div>

  <div class="flex flex-row mt-14">

    <!-- CHART 3 : map -->
    <div class="w-full">
      <div>
        <h3 class="text-2xl font-extrabold">Map : Madrid Estates</h3>
        <div class="w-full">The map showing the distribution of house prices depending on the location.</div>
        <div class="mt-10">
          <app-map [dimensions]="{ height: '650px', width: '100%' }"></app-map>
        </div>
      </div>
    </div>

    <!-- CHART PARAMETERS -->

  </div>

</div> 
