<div class="px-6 py-5 w-100 mx-auto my-8 rounded-md flex flex-row justify-between shadow-[0_0_60PX_6PX_#090e1b1f] bg-white">

    <!-- LEFT -->
    <div class="flex flex-row font-semibold cursor-pointer -tracking-tight" [routerLink]="['']">
        EstateViewer
    </div>

    <!-- RIGHT -->
    <div class="flex flex-row">
        <a class="mx-3" [routerLink]="['']">Home</a>
        <a class="mx-3" [routerLink]="['/stats']">Statistics</a>
        <a class="mx-3" [routerLink]="['/dynamic']">Dynamic</a>
        <a class="mx-3" [routerLink]="['/map']">Map</a>
    </div>
    
</div>