<div class="map-container" [style.height]="dimensions.height" [style.width]="dimensions.width">
    <div class="map-frame w-full h-full">
        <div id="map" class="h-full w-full rounded-xl"></div>
    </div>
</div>

<!-- <div *ngIf="hasLegend" class="absolute bottom-0 left-0 bg-white z-[901] w-[250px] py-3 px-6 rounded-md shadow-black m-3">
    <div class="w-full flex flex-row text-xs" title="the darker the color gets the higher the price will be.">
        <div class="w-4/12">Prices</div>
        <div class="w-8/12 border border-gray-500 rounded" [style.background]="colorOfInterest"></div>
    </div>
    <div class="w-full flex flex-row text-xs mt-1">
        <div class="w-4/12">Unknown</div>
        <div class="w-8/12">
            <div class="w-[30%] h-full border border-gray-500 rounded" [style.background]="colorUndefined">
            </div>
        </div>
    </div>
</div> -->
