.map-container {
    height: 100%; /* or any other height */
    width: 100%; /* or any other width */
  }
  
  .map-frame {
    height: 100%;
    width: 100%;
  }
  #map {
    border: 1px solid red;
    height: 100%;
    width: 100%;
  }