<div class="">

    <div class="font-bold">Filters</div>
    <div class="flex flex-row flew-wrap gap-2 mt-2">
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleIsAccessible()" [class.selected]="isAccessible">is accessible</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleIsFloorUnder()" [class.selected]="isFloorUnder">is floor under</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleIsRenewalNeeded()" [class.selected]="isRenewalNeeded">is renewal needed</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleHasAc()" [class.selected]="hasAc">has ac</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleHasPool()" [class.selected]="hasPool">has pool</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleHasTerrace()" [class.selected]="hasTerrace">has terrace</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleHasBalcony()" [class.selected]="hasBalcony">has balcony</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleHasParking()" [class.selected]="hasParking">has parking</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleEnergyCertificate()" [class.selected]="energyCertificate">energy certificate</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleHasGarden()" [class.selected]="hasGarden">has garden</button>
        <button duration class="text-[#0000006b] px-3 py-2 rounded-[2px] text-xs tracking-wide bg-[#0000001c] small-caps font-bold" (click)="toggleIsNewDevelopment()" [class.selected]="isNewDevelopment">is new development</button>
    </div>

</div>

<div class="w-full bg-gray-100 bg-opacity-25 rounded-lg shadow-md p-4">
    <div class="p-10">
        <div><canvas id="chart" class="h-full w-full"></canvas></div>
    </div>
</div>