@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
[icon] { font-family: 'Material Icons Round';
}

[title2] {
    font-weight: 900;
    font-size: 2.5em;
    color: #1b1b24;
    // text-shadow: 4px 5px 3px #00000026;
}
[separator] {
    opacity: 0;
    height: 1.8em;
}
.map-shadow {
    filter: drop-shadow( 0px 0px 10px #00000080 );
}